<!-- gõ ! rồi tab -->
<!DOCTYPE html>    
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>C4E Blog</h2>
    {% for post in posts %}
        <div>
            <!-- template language, jinja2 -->
            <h3>{{ post.title }}</h3>
            <p>{{ post.content }}</p>
            <p>By:
                <!-- conditional expression -->
                {{ "Mr" if post.sex else "Ms"}}
                {{post.author}}
            </p>
            <hr>
        </div>
    {% endfor %}
</body>
</html>