<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
</head>
<body>
    <h2>
        <a href="{{ url_for('index') }}">Về trang chủ</a>
    </h2>
    {% for s in service %}
    {% if s.gender == 1 %}
        <img src="../static/image/male.jpg" alt="">
    {% else %}
        <img src="../static/image/female.jpg" alt="">
    {% endif %}
    <p>Tên: {{ s.name }}</p>
    <p>Năm sinh: {{ s.yob }}</p>
    <p>Cao: {{ s.height }}</p>
    <p>Số điện thoại: {{ s.phone }}</p>
    <p>Địa chỉ: {{ s.address }}</p>
    <p>Mô tả: {{ s.description }}</p>
    <p>Số đo 3 vòng: {{ s.measurements }}</p>
    {% endfor %}
</body>
</html>