.bg-green {
    background-color: green;
}

.bg-blue {
    background-color: blue;
}

.bg-skyblue {
    background-color: skyblue;
}

.bg-yellow {
    background-color: yellow;
}

.bg-gray {
    background-color: gray;
}

.d-line-block {
    display: inline-block;
}

#block-1 {
    width: 700px;
    height: 700px;
    margin: 50px 270px;
    box-sizing: border-box
}

#block-2 {
    width: 150px;
    height: 50px;
    margin: 10px 155px 10px 5px
}

#block-3 {
    width: 370px;
    height: 50px;
    margin: 10px 5px 10px 0px;
}

#block-4 {
    width: 700px;
    height: 40px;
}

#block-5 {
    width: 15%;
    height: 551px;
    box-sizing: border-box
}

#block-6 {
    width: 65%;
    height: 551px;
}