<div class="d-flex-column justify-content-around w-100" style="background-image: url('../../static/image/night.jpg');height: 600px;">
    <div class="align-middle text-center p-4 h3" style="color:white;">Khách hàng bình chọn</div>
    <div class="d-flex justify-content-around">
        <div class="d-inline-block">
            <img src="../../static/image/la.jpg" style="height:200px; width:200px;">
        </div>
        <div class="d-inline-block">
            <img src="../../static/image/flower.jpg" style="height:200px; width:200px;">
        </div>
        <div class="d-inline-block">
            <img src="../../static/image/river.jpg" style="height:200px; width:200px;">
        </div>
        <div class="d-inline-block">
            <img src="../../static/image/snow.jpg" style="height:200px; width:200px;">
        </div>
    </div>
    <div class="d-flex justify-content-around" style="margin-top: 75px;">
        <div class="d-inline-block">
            <img src="../../static/image/steel.jpg" style="height:200px; width:200px;">
        </div>
        <div class="d-inline-block">
            <img src="../../static/image/rocks.jpg" style="height:200px; width:200px;">
        </div>
        <div class="d-inline-block">
            <img src="../../static/image/woods.jpg" style="height:200px; width:200px;">
        </div>
        <div class="d-inline-block">
            <img src="../../static/image/lightning.jpg" style="height:200px; width:200px;">
        </div>
    </div>
</div>