<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mùa đông không lạnh</title>
</head>
<body>
    <a href="{{ url_for('index') }}">Về trang chủ</a>
    <h1>Admin playground</h1>
    <table border="1px">
        <caption><h2>Danh sách</h2></caption>
        <thead>
            <th>STT</th>
            <th>Tên</th>
            <th>yob</th>
            <th>Giới tính</th>
            <th>Chiều cao</th>
            <th>SĐT</th>
            <th>Địa chỉ</th>
            <th>Trạng thái</th>
            <th>Chỉnh sửa</th>
        </thead>
        <tbody>
            {% for service in all_service %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ service.name }}</td>
                <td>{{ service.yob }}</td>
                <td>{{ "Nam" if service.gender else "Nữ" }}</td>
                <td>{{ service.height }}</td>
                <td>{{ service.phone }}</td>
                <td>{{ service.address}}</td>
                <td>{{ "Rảnh" if service.status else "Bận" }}</td>
                <td>
                    <a href="{{ url_for('create') }}">Thêm</a>
                    <a href="">Sửa</a>
                    <a href="{{ url_for('delete', service_id=service.id) }}">Xóa</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>