<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
</head>
<body>
    <h2>
        <a href="{{ url_for('index') }}">Về trang chủ</a>
    </h2>
    {% if service.gender == 1 %}
        <img src="../static/image/male.jpg" alt="">
    {% else %}
        <img src="../static/image/female.jpg" alt="">
    {% endif %}
    <p>Tên: {{ service.name }}</p>
    <p>Năm sinh: {{ service.yob }}</p>
    <p>Cao: {{ service.height }}</p>
    <p>Số điện thoại: {{ service.phone }}</p>
    <p>Địa chỉ: {{ service.address }}</p>
    <p>Mô tả: {{ service.description }}</p>
    <p>Số đo 3 vòng: {{ service.measurements }}</p>
</body>
</html>