<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Profile</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('index') }}">Home</a>
            </li>
        </div>
    </nav>
    {% if service.gender == 0 %}
    <div class="text-center" style="height: 700px; background-image: url('../static/image/slide3.jpg'); background-size: cover; background-attachment: fixed;">
        {% if service.gender == 1 %}
        <img src="../static/image/male.jpg" class="img-fluid rounded" alt="Responsive image">
        {% else %}
        <img src="../static/image/female.jpg" class="img-fluid rounded" alt="Responsive image">
        {% endif %}
        <h2 class="text-primary">Tên: {{ service.name }}</h2>
        <h4 class="text-primary">Năm sinh: {{ service.yob }}</h4>
        <h5 class="text-success">Cao: {{ service.height }}</h5>
        <h5 class="text-success">Số điện thoại: {{ service.phone }}</h5>
        <h5 class="text-success">Địa chỉ: {{ service.address }}</h5>
        <h5 class="text-success">Mô tả: {{ service.description }}</h5>
        <h5 class="text-success">Số đo 3 vòng: {{ service.measurements }}</h5>
    </div>
    {% else %}
    <div class="text-center" style="height: 700px; background-image: url('../static/image/slide4.jpg'); background-size: cover; background-attachment: fixed;">
        {% if service.gender == 1 %}
        <img src="../static/image/male.jpg" class="img-fluid rounded" alt="Responsive image">
        {% else %}
        <img src="../static/image/female.jpg" class="img-fluid rounded" alt="Responsive image">
        {% endif %}
        <h2 class="text-primary">Tên: {{ service.name }}</h2>
        <h4 class="text-primary">Năm sinh: {{ service.yob }}</h4>
        <h5 class="text-danger">Cao: {{ service.height }}</h5>
        <h5 class="text-danger">Số điện thoại: {{ service.phone }}</h5>
        <h5 class="text-danger">Địa chỉ: {{ service.address }}</h5>
        <h5 class="text-danger">Mô tả: {{ service.description }}</h5>
        <h5 class="text-danger">Số đo 3 vòng: {{ service.measurements }}</h5>
    </div>
    {% endif %}

    <!-- <h2>
        <a href="{{ url_for('index') }}">Về trang chủ</a>
    </h2>
    {% if service.gender == 1 %}
        <img src="../static/image/male.jpg" alt="">
    {% else %}
        <img src="../static/image/female.jpg" alt="">
    {% endif %}
    <p>Tên: {{ service.name }}</p>
    <p>Năm sinh: {{ service.yob }}</p>
    <p>Cao: {{ service.height }}</p>
    <p>Số điện thoại: {{ service.phone }}</p>
    <p>Địa chỉ: {{ service.address }}</p>
    <p>Mô tả: {{ service.description }}</p>
    <p>Số đo 3 vòng: {{ service.measurements }}</p> -->
</body>
</html>